<%= form_with model: entity, url: entity.persisted? ? entity_path(entity) : entities_path, method: entity.persisted? ? :patch : :post, local: true, class: "row g-3 needs-validation p-2" do |form| %>
  <%= render 'layouts/partials/form_actions', form: form, back_path: entities_path %>

  <div class='row pt-0 g-3'>
    <div class='col-md-6'>
        <%= render 'layouts/partials/form_section', title: "Informações Pessoais", fields: entity_personal_fields, form: form %>
    </div>
    <div class='col-md-6'>
        <%= render 'layouts/partials/form_section', title: "Identificação", fields: entity_identification_fields, form: form %>
    </div>
    <div class='col pt-0 g-3 mb-4'>

              <div id="contacts-container" class="mb-3">
                <%= form.fields_for :contacts do |contact_form| %>
                  <%= render 'layouts/partials/form_section', title: "Contato", fields: contact_fields, form: contact_form %>
                <% end %>
              </div>
              <%= render 'layouts/partials/nested_fields_template',
                        form: form,
                        association: :contacts,
                        model_class: Contact,
                        fields: contact_fields,
                        title: "Contato",
                        css_class: "contact-fields" %>
              <div class="text-end">
                  <button type="button" class="btn btn-outline-primary btn-sm mb-4" id="add-contact">Adicionar outro contato</button>
              </div>

              <%= form.fields_for :addresses do |address_form| %>
                <%= render 'layouts/partials/form_section', title: "Endereço", fields: address_fields, form: address_form %>
              <% end %>
    </div>    
  </div>

<% end %>
