
<% provide(:title, "Entidades") %>

<% content_for :navpills do %>
    <%= link_to "Geral", entities_path, class: "h6 btn btn-secondary ps-2 pe-2 pt-0 pb-0 mt-4 rounded-pill me-2" %>
    <%= link_to "Papéis", entities_roles_path, class: "h6 btn btn-outline-secondary ps-2 pe-2 pt-0 pb-0 mt-4 rounded-pill" %> 
<% end %>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-3 border-bottom">

<%= render "layouts/partials/search_filter_form", url: entities_path %>

<%= render "layouts/partials/toolbar_actions", new_path: new_entity_path, button_label: "Adicionar" %>

</div>    

<%= render "layouts/partials/flash_toasts" %>

<%= render "layouts/partials/data_table", table_config: @entity_table_config %>




