<%= form_with model: @role, url: @role.persisted? ? role_path(@role) : roles_path,
              method: @role.persisted? ? :patch : :post,
              local: true, class: "row g-3 needs-validation m-2" do |form| %>

  <div class="col-sm">
    <%= form.label :name, "Nome do Papel", class: "form-label" %>
    <%= form.text_field :name, class: "form-control #{'is-invalid' if @role.errors[:name].any?}" %>
    <% if @role.errors[:name].any? %>
      <div class="invalid-feedback d-block">O nome do papel é obrigatório.</div>
    <% end %>

    <%= form.label :role_group, "Grupo", class: "form-label mt-3" %>
    <%= form.text_field :role_group, class: "form-control #{'is-invalid' if @role.errors[:role_group].any?}" %>
    <% if @role.errors[:role_group].any? %>
      <div class="invalid-feedback d-block">Informe o grupo do papel.</div>
    <% end %>

    <%= form.label :description, "Descrição", class: "form-label mt-3" %>
    <%= form.text_area :description, rows: 3, class: "form-control #{'is-invalid' if @role.errors[:description].any?}" %>
    <% if @role.errors[:description].any? %>
      <div class="invalid-feedback d-block">Informe a descrição do papel.</div>
    <% end %>
  </div>

  <div class="col-12 d-flex justify-content-end mb-3">
    <%= link_to "Voltar", roles_path, class: "btn btn-sm btn-secondary me-2" %>
    <%= form.submit(@role.persisted? ? "Atualizar" : "Salvar", class: "btn btn-sm #{ @role.persisted? ? 'btn-primary' : 'btn-success' } me-2") %>
  </div>

<% end %>
